*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:white;
overflow-x:hidden;

}

header{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

h1{

font-size:35px;

font-weight:600;

margin-bottom:10px;

}

header p{

color:gray;

margin-bottom:30px;

}

.slider{

width:70%;

max-width:900px;

height:500px;

border-radius:20px;

overflow:hidden;

box-shadow:0px 10px 25px rgba(0,0,0,0.2);

}

.slider img{

width:100%;

height:100%;

object-fit:cover;

transition:1s;

}

#menuButton{

position:fixed;

left:25px;

top:25px;

font-size:35px;

cursor:pointer;

z-index:1000;

}

#sidebar{

position:fixed;

left:-250px;

top:0;

width:250px;

height:100vh;

background:#222;

display:flex;

flex-direction:column;

padding-top:100px;

transition:.4s;

z-index:999;

}

#sidebar a{

color:white;

text-decoration:none;

padding:20px;

font-size:18px;

}

#sidebar.open{

left:0;

}

.info{

padding:150px 15%;

background:#f4f4f48e;

opacity:0;

transform:translateY(80px);

transition:1s;

}

.info.show{

opacity:1;

transform:translateY(0px);

}

.info h2{

margin-bottom:30px;

font-size:35px;

}

.info p{

line-height:35px;

font-size:20px;

}

.floatingButton{

position:fixed;

right:25px;

bottom:25px;

width:60px;

height:60px;

background:#1976d2;

border-radius:50%;

box-shadow:0px 5px 20px rgba(0,0,0,.4);

z-index:9999;

cursor:pointer;

animation:pulse 2s infinite;

display:flex;
justify-content:center;
align-items:center;
font-size:28px;
color:white;

}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.08);

}

100%{

transform:scale(1);

}

}
